@import "./../../App/vars.scss";

.aside {
    display: none;
    top: 45px;
    right: 0;
    min-width: 250px;
    position: absolute;
    border-radius: 12px;
    background-color: #FBFBFB;
    padding: 20px;
    z-index: 4;
    box-shadow: 5px 4px 30px 0px #0000001A;

    

    li {  
        position: relative;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        &:not(:first-child) {
            padding: 10px 0 10px 45px;
        }

        &:first-child {
            padding: 0 0 10px 45px;
        }

        &:hover {
            a {
                color: $brand-color;
                transition: 0.3s ease-in;
            }
            transition: 0.3s ease-in;
        }
        
    }

    a {
        font-weight: 400;
    }
}

.userName {
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center;
}

.exit {
    margin-top: 30px;
    font-size: 20px;
}

.icon {
    &::before {
        content: " ";
        width: 22px;
        height: 25px;
        position: absolute;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        left: 0;
    }
}

.cabinet {

    &::before {
        background-image: url("./../../../assets/icons/aside/cabinet.svg");
    }
    
}

.orders {
    &::before {
        background-image: url("./../../../assets/icons/aside/orders.svg");
    }  
}

.settings {
    &::before {
        background-image: url("./../../../assets/icons/aside/settings.svg");
    }
}

.help {
    &::before {
        width: 24px;
        height: 20px;
        top: 13px;
        background-image: url("./../../../assets/icons/aside/help.svg");
    }
}

.visible {
    display: block;
}