@import "./../App/vars.scss";

.flex {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
}

.buy {
    border-radius: 12px;
    height: fit-content;
    padding: 30px 50px;
    background-color: $bgCard-color;
    margin-bottom: 30px;
    border: 1px solid #0000001A;
}

.button {
    display: block;
    padding: 15px 30px;
    border-radius: 12px;
    border: 1px solid black;
    color: black;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 20px;

    & > * {
        margin-bottom: 25px;
    }
}

.card_wrapper {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 65%;
}

.price {
    margin-bottom: 20px;
}

.empty_data {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.input {
    padding: 10px;
    border: 1px solid black;
    border-radius: 16px;
}