@import "./../App/vars.scss";

.flex {
    display: flex;
}

.buy {
    border-radius: 12px;
    height: fit-content;
    padding: 30px 50px;
    background-color: $bgCard-color;
    margin-bottom: 30px;
    border: 1px solid #0000001A;
}

.button {
    display: block;
    padding: 15px 30px;
    border-radius: 12px;
    border: 1px solid black;
    color: black;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    margin-right: 5%;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;

    & > * {
        margin-bottom: 25px;
    }
}

.price {
    margin-bottom: 20px;
}

.input {
    width: 70%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 16px;
}