@import "./../../App/vars.scss";

.card {
    display: flex;
    padding: 20px;
    background-color: $bgCard-color;
    width: 48%;
    border: 1px solid #0000001A;

    &__img {
        width: 200px;
        margin-right: 60px;
    }

    &__title {
        font-weight: 600;
        line-height: 39px;
        margin-bottom: 20px;
    }

    &__info {
        font-size: 25px;
    }

    &__price {
        font-weight: 600;
        line-height: 44px;
    }

    &__date {
        margin-bottom: 50px;
    }
}