.breadcrumb {
    display: flex; /* Выравниваем элементы горизонтально */
    align-items: center; /* Выравниваем элементы по центру вертикально */

    &__item {
        display: flex; /* Выравниваем элементы горизонтально */
        align-items: center; /* Выравниваем элементы по центру вертикально */
        margin-right: 0.5rem; /* Отступ между элементами */

        a {
            color: #007bff; /* Цвет ссылок */
            text-decoration: none; /* Убираем подчеркивание ссылок */
        }

        .active {
            color: #6c757d; /* Цвет активного элемента */
        }

        &::after {
            content: "/"; /* Знак, который будет использоваться в качестве разделителя */
            margin-left: 0.5rem; /* Отступ слева от разделителя */
        }

        &:last-child::after {
            content: "";
        }
    }
}
