@import "./../App/vars.scss";

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: $bgCard-color;
    border-radius: 12px;
    border: 1px solid;
    text-align: center;
    color: black;


    & > *:not(:last-child) {
        margin-bottom: 15px;
    }
}

.img {
    width: 275px;
    height: 210px;
}

.title {
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    margin-bottom: 10px;
}

.button {
    padding: 20px;
    background-color: $brand-color;
    border-radius: 12px;
}